
.notes__main-content{
    display:flex;
    flex-direction:column;
    height:100%;

}

.notes__appbar{
    align-items:center;
    background-color: $primary;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}


.notes__content{
    display: flex;
    margin: 10px;
    flex-direction: column;
    height: 100%;
    padding: 50px;
}
.notes__title-input{
    border: none;

    &:focus{
        outline: none;
    }
}
.notes__title-input{
    margin:auto;
	display:block;
    text-align:center;
    line-height: 200px;
    width: 100%;
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}


.notes__text{
    margin:auto;
	display:block;
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}


.notes__image img{
    margin:auto;
	display:block;
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}

.notes__url{
    margin:auto;
		    display:block;
}